__pycache__/
.ipynb_checkpoints
.env
.venv
env/
venv/
*.pth
/preds*
/app_data
/todo.txt
/config.py
/my_model
/src-hrda
/mmdetection3d
/data
/kitti_sample
/data_info.json
/gpt_week
/work_dirs
*.deb
*.run
/apply-det3d-to-project-dataset
/app_mmdetection_3d
/detection3d_configs
*.pcd
supervisely