torch==2.1.0 
torchvision==0.16.0 --index-url https://download.pytorch.org/whl/cu118
openmim
git+https://github.com/DanielPollithy/pypcd.git
Werkzeug==2.2.3
numpy==1.22.0
wheel
fire
executing==2.0.1
# supervisely==6.73.292
